@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

@layer base {
  :root {
    --background: 30 40% 90%; /* light brown */
    --foreground: 30 50% 25%; /* dark brown */
    --card: 30 40% 89%; /* very light brown */
    --card-foreground: 30 50% 25%; /* dark brown */
    --popover: 30 40% 89%; /* very light brown */
    --popover-foreground: 30 50% 25%; /* dark brown */
    --primary: 30 60% 40%; /* medium brown */
    --primary-foreground: 30 30% 95%; /* very light brown */
    --secondary: 30 40% 80%; /* light brown */
    --secondary-foreground: 30 50% 25%; /* dark brown */
    --muted: 30 40% 80%; /* light brown */
    --muted-foreground: 30 30% 50%; /* medium dark brown */
    --accent: 30 40% 80%; /* light brown */
    --accent-foreground: 30 50% 25%; /* dark brown */
    --destructive: 0 70% 35%; /* red-brown */
    --destructive-foreground: 30 30% 95%; /* very light brown */
    --border: 30 20% 85%; /* light brown */
    --input: 30 30% 70%; /* medium light brown */
    --ring: 30 60% 40%; /* medium brown */
    --radius: 0.3rem;
  }

  .dark {
    --background: 30 50% 10%; /* very dark brown */
    --foreground: 30 30% 90%; /* light brown */
    --card: 30 50% 15%; /* dark brown */
    --card-foreground: 30 30% 90%; /* light brown */
    --popover: 30 50% 15%; /* dark brown */
    --popover-foreground: 30 30% 90%; /* light brown */
    --primary: 30 60% 25%; /* medium dark brown */
    --primary-foreground: 30 30% 90%; /* light brown */
    --secondary: 30 40% 25%; /* medium brown */
    --secondary-foreground: 30 30% 90%; /* light brown */
    --muted: 30 40% 25%; /* medium brown */
    --muted-foreground: 30 30% 80%; /* medium light brown */
    --accent: 30 40% 25%; /* medium brown */
    --accent-foreground: 30 30% 90%; /* light brown */
    --destructive: 0 70% 25%; /* red-brown */
    --destructive-foreground: 30 30% 90%; /* light brown */
    --border: 30 30% 20%; /* dark brown */
    --input: 30 30% 20%; /* dark brown */
    --ring: 30 40% 20%; /* dark brown */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.05em;
}
