@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

@layer base {
  :root {
    --background: 340 30% 95%; /* Light background */
    --foreground: 340 40% 20%; /* Darker text */
    --card: 340 30% 90%; /* Light card */
    --card-foreground: 340 40% 20%;
    --popover: 340 30% 90%; /* Light popover */
    --popover-foreground: 340 40% 20%;
    --primary: 340 50% 40%; /* Burgundy primary */
    --primary-foreground: 340 20% 95%;
    --secondary: 340 30% 80%; /* Lighter secondary */
    --secondary-foreground: 340 40% 20%;
    --muted: 340 30% 85%; /* Muted light background */
    --muted-foreground: 340 40% 50%; /* Darker muted text */
    --accent: 340 50% 40%; /* Burgundy accent */
    --accent-foreground: 340 20% 95%;
    --destructive: 0 70% 45%; /* Bright red */
    --destructive-foreground: 340 20% 95%;
    --border: 340 20% 90%; /* Light border */
    --input: 340 40% 90%; /* Light input */
    --ring: 340 50% 40%; /* Burgundy ring */
    --radius: 0.3rem;
  }

  .dark {
    --background: 340 30% 10%; /* Darker background */
    --foreground: 340 50% 90%; /* Light text */
    --card: 340 30% 15%; /* Even darker card */
    --card-foreground: 340 50% 90%;
    --popover: 340 30% 15%;
    --popover-foreground: 340 50% 90%;
    --primary: 340 50% 25%; /* Darker primary */
    --primary-foreground: 340 50% 90%;
    --secondary: 340 30% 25%; /* Darker secondary */
    --secondary-foreground: 340 50% 90%;
    --muted: 340 30% 20%; /* Darker muted */
    --muted-foreground: 340 50% 80%; /* Light muted text */
    --accent: 340 50% 25%;
    --accent-foreground: 340 50% 90%;
    --destructive: 0 70% 25%;
    --destructive-foreground: 340 50% 90%;
    --border: 340 30% 15%; /* Darker border */
    --input: 340 30% 15%; /* Darker input */
    --ring: 340 40% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.05em;
}
